<section ng-controller="FavController">
  <h2 class="text-center">YOUR FAVOURITES</h2>
  <div class="top-notice text-center" ng-if="!favourite.users.length"><div class="arrow-top"></div><span class="empty"><i class="icon ion-alert-circled"></i><br/>Not yet..not yet..</span><a class="btn-go" ui-sref="landing">GET INSPIRATION</a></div>
  <div class="fav-wrapper">
    <div ng-repeat="fav in favourite.users" class="col-sm-4 fav-list">
      <div  class="fav-box">
        <a ui-sref="showOne({timeline_id:fav.id})" class="name">
          <span ng-if="!fav.anonymous">{{fav.name}}</span>
          <span ng-if="fav.anonymous">Anonymous</span>
        </a>
        <div class="message">{{fav.location}}</div>
        <div class="message">{{fav.industry}}</div>
        <p ng-if="fav.anonymous">{{fav.email}}</p>
        <p ng-if="fav.role">{{fav.role}}</p>
        <p>
          <img ng-if="!fav.anonymous" gravatar-src="fav.email" gravatar-size="70" class="gravatar"><img ng-if="fav.anonymous" gravatar-src="" gravatar-size="70" class="gravatar">
        </p>
      </div>
    </div>
  </div>
</section>