<section ng-controller="ShowController">
<uib-alert type="danger" close="clearError()" dismiss-on-timeout="1000" ng-if="error">{{error}}</uib-alert>
  <div class="timeline_info detail-info">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4" >
      <div class="detail-wrapper container">
        <div class="exp-info no-padding col-sm-12" >
          <div class="col-sm-3 text-right img-box">
            <img ng-if="user.anonymous" gravatar-src="" gravatar-size="80" class="gravatar">
            <img ng-if="!user.anonymous" gravatar-src="user.email" gravatar-size="80" class="gravatar">
          </div>
          <div class="col-sm-9">
            <h3 ng-if="!user.anonymous">{{user.name}}</h3>
            <p><i class="icon ion-star"></i>&nbsp;{{user.role}}</p>
            <p><i class="icon ion-briefcase"></i>&nbsp;{{user.industry}}</p>
            <p><i class="icon ion-ios-location"></i>&nbsp;{{user.location}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="info_wrapper">
      <!-- <div class="col-sm-12"> -->
        <!-- <div class="mock-up" ng-if="user.role"><div class="arrow-left"></div><span class="message">{{user.role}}</span></div> -->
      <!-- </div> -->
      <div class="col-sm-12 inline-info">
        <div class="mock-up"><div class="arrow-left arrow-fav"></div><a ng-click="favUser()" class="btn-fav" ng-mouseenter="favhover = true" ng-mouseleave="favhover = false"><i class="fa fa-hand-spock-o"></i><!-- <i class="icon ion-android-bulb"></i> --> + <!-- <span ng-if="hover">{{fav.count +1 }}</span> --><span >{{fav.count}}</span></a></div>
        <!-- <div class="mock-up"><div class="arrow-left"></div><span class="message">{{user.location}}</span></div> -->
      </div>
    </div>
  </div>

  <div class="timeline">
    <div class="top-notice text-center" ng-if="!timelines.length"><div class="arrow-top"></div><span class="empty"><i class="icon ion-alert-circled"></i><br/>The user hasn't started building a timeline</span></div>
    <div class="stage-wrapper" ng-repeat="timeline in timelines" ng-if="timelines.length !== 0">
      <div class="stage-attach show-wrapper">
        <div class="stageBox">
          <h3>{{timeline.stage.title}}</h3>
          <p class="stageRange ">{{timeline.stage.start | date:'MMM yyyy'}} - {{timeline.stage.end | date:'MMM yyyy'}}</p>
          <p class="description">{{timeline.stage.description}}</p>
          <div class="eventBox" ng-repeat="event in timeline.events">
            <h4>{{event.event.title}}</h4>
            <p class="eventDate pull-right">{{event.event.date | date:'MMM yyyy'}}</p>
            <p class="eventType"><i class="fa fa-list desp"></i>&nbsp;{{event.event.event_type}}</p>
            <p class="eventTag"><i class="icon ion-pricetag"></i>&nbsp;<span ng-repeat="tag in event.event.tag" >{{tag}},&nbsp;</span></p>
            <hr/>
            <p class="eventDesp">{{event.event.description}}</p>
            <div class="utility">
              <div class="status_box">
                <div class="col-sm-6">
                  <!-- <div class="status_head">ME TOO!</div><div>0</div> -->
                  <a ng-click="event.likes.clicked = false;showMetooList(event.event.id)" class="status_digest" ng-mouseenter="metoo_hover = true" ng-mouseleave="metoo_hover = false"><div class="status_head">ME TOO!</div><div class="status_figure" ng-class="{'highlighted' : metoo_hover}">{{event.metoo.metoo_count}}</div></a>
                </div>
                <div class="col-sm-6">
                  <a ng-click="event.metoo.clicked = false;showLikeList(event.event.id)" class="status_digest" ng-mouseenter="hover = true" ng-mouseleave="hover = false"><div class="status_head">LIKES</div><div class="status_figure" ng-class="{'highlighted' : hover}">{{event.likes.like_count}}</div></a>
                </div>
              </div>
              <div class="status_detail" ng-if="event.likes.clicked">
                <span ng-repeat="user in event.likes.list">
                  <a ui-sref="showOne({timeline_id:user.user_detail.id})"><img ng-if="user.user_detail.anonymous" gravatar-src="" gravatar-size="30" class="gravatar"></a>
                  <a ng-if="!user.user_detail.anonymous" popover-animation="true" popover-placement="top" uib-popover-template="miniprofile.templateUrl" class="popover-leader" uib-tooltip={{user.user_detail.name}} tooltip-class="btn-guide" tooltip-placement="bottom">
                    <img ng-if="!user.user_detail.anonymous" gravatar-src="user.user_detail.email" gravatar-size="30" class="gravatar">
                  </a>
                </span>
              </div>
              <div class="status_detail" ng-if="event.metoo.clicked">
                <span ng-repeat="user in event.metoo.list">
                  <a ui-sref="showOne({timeline_id:user.user_detail.id})"><img ng-if="user.user_detail.anonymous" gravatar-src="" gravatar-size="30" class="gravatar"></a>
                  <a ng-if="!user.user_detail.anonymous" popover-animation="true" popover-placement="top" uib-popover-template="miniprofile.templateUrl" class="popover-leader" uib-tooltip={{user.user_detail.name}} tooltip-class="btn-guide" tooltip-placement="bottom">
                    <img ng-if="!user.user_detail.anonymous" gravatar-src="user.user_detail.email" gravatar-size="30" class="gravatar">
                  </a>
                </span>
              </div>
              <a ng-click="postLike(event.event.id)" class="btn" ng-class="{'btn-like': event.likes.byme}" uib-tooltip="Like This" tooltip-class="btn-guide" tooltip-placement="bottom"><i class="icon ion-star"></i> LIKE ({{event.likes.like_count}})</a>
              <a ng-click="postMetoo(event.event.id)" class="btn" ng-class="{'btn-metoo': event.metoo.byme}" uib-tooltip="SAY 'ME TOO!'" tooltip-class="btn-guide" tooltip-placement="bottom"><i class="icon ion-android-hand"></i> 'ME TOO!' ({{event.metoo.metoo_count}})</a>
              <!-- <a href="" class="btn btn-metoo" uib-tooltip="Say 'ME TOO!'" tooltip-class="btn-guide" tooltip-placement="bottom"><i class="icon ion-android-hand"></i> 'ME TOO!'</a> -->
            </div>
          </div>
        </div>
        <div class="stage-attachment">
          <p class="text-center"><i class="icon ion-minus"></i></p>
        </div>
      </div>
    </div>
  </div>
  <section ng-controller="RecommendController">
    <div class="recommend exp-info" ng-if="recommend.length > 0" >
    <hr/>
      <h3><b>You might also get inspired by...</b></h3>
      <div class="recommend-wrapper">
        <div ng-repeat="item in recommend">
          <div class="rec-box center-block col-sm-5 col-md-4 col-lg-2 col-xlg-2" ng-if="item.id != owner">
            <a ui-sref="showOne({timeline_id:item.id})"><img ng-if="!item.anonymous" gravatar-src="item.email" gravatar-size="70" class="gravatar float-img" ><img ng-if="item.anonymous" gravatar-src="" gravatar-size="70" class="gravatar float-img" ></a>
            <a ui-sref="showOne({timeline_id:item.id})"><h3 ng-if="!item.anonymous">{{item.name}}</h3><h3 ng-if="item.anonymous">Anonymous</h3></a>
            <div class="col-sm-11 col-mg-11 col-lg-11 rec-stack">
              <p><i class="icon ion-star"></i>&nbsp;{{item.role}}</p>
              <p><i class="icon ion-briefcase"></i>&nbsp;{{item.industry}}</p>
              <p><i class="fa fa-map-marker"></i>&nbsp;{{item.location}}</p>
              <p class="text-center col-sm-12"><a class="btn-go" ui-sref="showOne({timeline_id:item.id})">GET INSPIRED BY {{item.name.split(" ")[0]}}</a>
            </div></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>