body{
  font-family: 'Montserrat', sans-serif;
}
a.sonder{
  color:#444;
}
.popover-row{
  padding:10px;
}
a.sonder:hover, a.sonder:active, a.sonder:link{
  color:#777;
  text-decoration: none;
}
.container{
  width:100%;
  margin:0px;
  padding:0px;
}
.view{
  min-height:50vh;
}
a{
  cursor:pointer;
}
h1{
  font-weight:700;
  font-size:40px;
  letter-spacing: 3px;
}
h2{
  letter-spacing:7px;
}
.wrapper{
  margin:0px;
  overflow:auto;
}
.alert-box{
  overflow:auto;
}
.btn-login{
  background:#47C7B6;
  color:white;
  box-shadow: 2px 2px #ccc;
}
.error{
  border: 2px solid red;
  padding:10px 20px;
  margin:10px 0px;
  text-align:center;
}
footer{
  position:relative;
  font-weight:700;
  bottom:0;
  padding:5px 0;
  width:100%;
  background:#FFDB53;
}
ul.nav{
  background:#FFDB53;
  font-size:13px;
  font-weight:700;
  padding:0px 20px;
}
ul.nav li{
  display:inline-block;
}
ul.nav p{
  padding:10px 10px 0px 10px;
}
ul.nav a:hover{
  background:transparent;
  color:white;
  text-shadow:2px 2px #ccc;
}
ul.nav a{
  color:#444;
}
td.settings{
  color:#ccc;
}
.editbox{
  color:black;
}
.save-btn{
  background:#47C7B6;
  color:white;
  padding:2px 5px;
  box-shadow: 2px 2px #ccc;
  line-height:200%;
}
.box-container{
  margin:50px auto 0px auto;
  text-align:center;
}
.addbox{
  vertical-align: top;
  display:inline-block;
  height:200px;
  width:200px;
  font-size:25px;
  padding: 50px 0px;
  color:black;
  margin:0px 20px;
  border: 3px solid black;
  cursor:pointer;
}
.addbox:hover{
  background:black;
  color:white;
}
.addbox a{
  color:black !important;
}
.stage-wrapper{
  display:inline-block;
  vertical-align:top;
}
.show-wrapper{
  min-height:250px;
}
.stage-attach{
  /*display:inline-block;*/
  vertical-align:top;
  display:flex;
  flex-direction:row;
}
.stage-attachment{
  display:inline-block;
  font-size:40px;
  font-weight:700;
  display:flex;
  align-items: center;
  justify-content: center;
}
.popover-inner{
  width:100%;
}
.popover{
  max-width:500px;
  position:absolute;
  left:100px;
  font-family: 'Montserrat', sans-serif;
}
.popover-stage{
  min-width:400px;
}
.modal-header{
  background:red;
  text-align:center;
}
h3.modal-title{
  font-size:20px;
  font-weight:700;
  color:white;
  text-shadow:1px 1px #444;
}
.modal{
  margin-top:30vh;
}
.stage-attachment i{
  font-size:40px;
  padding:5px 10px;
}
.stage-attachment a{
  margin:0px;
  color:white;
  border-radius:40px;
  background:red;
}
.stageBox{
  padding:10px;
  white-space:normal;
  /*background:rgba(80,120,70,0.2);*/
  /*height:300px;*/
  /*width:400px;*/
  border:5px solid rgba(80,120,70,0.2);
  overflow:auto;
  display:inline-block;
  vertical-align: top;
  margin:5px;
}
.stageBox h3{
  /*line-height:50%;*/
  font-weight:700;
  margin-bottom:0px;
}
p.stageRange, p.eventDate{
  color:#ccc;
}
p.description{
  color:#666;
  font-size:20px;
}
.eventBox{
  /*margin: 10px 0px 0px 50px;*/
  margin:10px;
  padding:10px;
  border:5px solid rgba(80,120,70,0.5);
  display:inline-block;
  width:300px;
  vertical-align: top;
}
.eventBox *{
  line-height:100%;
}
.eventBox h4{
  font-weight:700;
}
.timeline{
  padding:30px 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  height:100%;
  min-height:400px;
}
.utility{
  padding:5px;
  text-align:center;
}
.utility .btn, .btn-action{
  box-shadow: 2px 2px  white;
  color:#ccc;
  margin:5px;
}
.utility .btn:hover{
  box-shadow:2px 2px white;
  text-shadow:1px 1px #444;
}
.btn-like{
  color:#47C7B6 !important;
  box-shadow: 2px 2px transparent !important;
  /*color: white !important;*/
}
.btn-metoo{
  color:orange !important;
}
.btn-action, .red{
  background:red;
}
.timeline_info{
  padding:10px 0px;
  text-align:center;
}
.profile-pic{
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:50px;
  margin:0 auto;
  width:100px;
  height:100px;
  background:orange;
}
img.gravatar{
  border-radius:50px;
}
.info_wrapper{
  padding:0px 10px 10px 10px;
  margin: 0 auto;
}
.mock-up{
  text-align:center;
  margin:0px auto 10px auto;
  vertical-align:bottom;
}
.mock-up *{
  display:inline-block;
}
.arrow-left {
  width: 0;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #DD524A;
}
span.message{
  margin-top:10px;
  background:#DD524A;
  line-height:200%;
  padding:5px 20px;
  box-shadow:2px 2px #ccc;
  color:white;
  border-radius:2px;
  font-size:18px;
}
.inline-info *{
  display:inline-block;
}
.inline-info .mock-up{
  margin-left:10px;
}
.arrow-fav{
  border-right:10px solid #FFDB53;
}
.btn-fav{
  font-size:25px;
  font-weight:700;
  background:#FFDB53;
  color:white;
  padding:5px 10px;
  box-shadow: 2px 2px #ccc
  /*border-radius:30px;*/
}
.btn-fav:hover{
  /*background:yellow;*/
  color:black;
  text-decoration: none;
}
.info-wrapper{
  margin:0 auto;
  width:30%;
}
.info-wrapper *{
  vertical-align: middle;
  display:inline-block;
}
.detail-info{
  margin:0 auto;
}
.detail-wrapper{
  margin:0 auto;
  text-align:left;
}
.basic-info{
  text-align:left !important;
}
.basic-info .mock-up{
  display:block;
}
.arrow-basic{
  border-right:10px solid #ccc;
}
.basic-info span.message{
  background:#ccc;
  color:black;
  font-size:15px;
  padding:0px 20px;
}
.basic-info p{
  font-weight:700;
  font-size:30px;
  padding-top:5px;
}
.fav-wrapper{
  margin: 0 auto;
}
.fav-list{
  padding:10px;
}
.fav-list .name{
  font-weight:700;
}
.fav-box{
  border:5px solid rgba(150,80,140, 0.5);
  padding:10px;
}
.alert{
  width:500px;
  position:absolute;
  text-align:center;
  top:20vh;
  left:30vw;
  z-index:4;
}
.alert-login{
  position:relative;
  top:0;
  left:0;
  width:100%;
}
.status_box {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  overflow:auto;
  padding:5px 0px;
  margin-bottom:5px;
}
.status_box > div{
  display:inline-block;
}
.status_box .status_head{
  color:#ccc;
  font-size:10px;
}
.tooltip.btn-guide  .tooltip-inner{
  padding:10px;
  border-radius:0px;
  background:rgba(0,0,0,0.9);
  white-space:nowrap;
}
.status_digest{
  cursor:pointer;
}
.status_figure {
  color:#444;
}
.highlighted {
  color:orange;
}
.status_digest:hover{
  text-decoration: none;
}
a.popover-leader + div{
  /*width:200px !important;*/
}
.miniprofile{
  width:300px;
  padding:0px 10px 20px 0px;
  text-align:center;
}
.miniprofile a{
  text-decoration: none;
}
.miniprofile h3{
  letter-spacing: 3px;
  color:white !important;
}
.mini-basic{
  color:#ccc;
  text-align:center;
  font-weight:700;
  padding:10px 0px;
}
.stress{
  color:#666;
  font-size:16px;
  font-weight:400;
}
.btn-go{
  font-size:18px;
  font-weight:700;
  background:#DD524A;
  color:white;
  padding:5px 10px;
  box-shadow: 2px 2px #ccc;
  margin-bottom:10px;
  text-shadow:1px 1px #444;
}
.btn-go:hover{
  text-decoration: none;
  color:white;
  box-shadow:2px 2px white;
  text-shadow:1px 1px transparent;
}
.recommend{
  padding:10px 30px;
}
a.question{
  font-size:60px;
}
.smaller-icon{
  font-size:30px !important;
}
.addevent-modal{
  padding:20px;
}
.addevent-modal h3{
  font-weight:700;
  text-align:center;
}
.mini-qiery{
  font-size:20px !important;
  color:black;
}
.tooltip.btn-question .tooltip-inner, .tooltip.btn-stat .tooltip-inner{
  padding:10px;
  border-radius:0px;
  background:rgba(0,0,0,0.9);
  font-family: 'Montserrat', sans-serif;
}
.status_detail{
  text-align:left;
  overflow:auto;
}
.userbox{
  box-shadow: 2px 2px 10px #ccc;
  /*background:rgba(140,180,60, 0.2);*/
  padding:20px;
  margin-bottom:20px;
  overflow:auto;
}
.userinfo a{
  color:#444;
  font-weight:700;
}
.userinfo a:hover{
  text-decoration: none;
  text-shadow:2px 2px #fff;
  opacity:0.7;
}
.top-container{
  display:flex;
  flex-direction:row;
}
.stageinfo{
  background:white;
}
span.explore-info{
  background:#ccc;
  padding:5px 20px;
  box-shadow:2px 2px #ccc;
  color:white;
  border-radius:2px;
  font-size:12px;
}
.userinfo .arrow-left{
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right:7px solid #ccc;
}
.stack-up{
  margin-bottom:5px;
  /*padding-left:40px;*/
}
.stack-up *{
  display:block;
}
.userinfo-wrapper .arrow-top{
  width: 0;
  height: 0;
  border-bottom: 7px solid rgba(200,200,200,0.8);
  border-top: 0px solid transparent;
  border-left:7px solid transparent;
  border-right:7px solid transparent;
  margin-top:0px;
}
.userinfo-wrapper span.explore-info{
  background:rgba(200,200,200,0.8);
  font-size:14px;
  min-width:90%;
  box-shadow: 2px 2px rgba(200,200,200,0.3)
}
.userinfo h3{
  margin-top:0px;
  margin-bottom:0px;
}
.userinfo h3 h4{
  font-weight:700;
}
.userinfo-wrapper h3, .userinfo-wrapper .mock-up{
  display:block;
  vertical-align:bottom;
}
.userinfo-list-wrapper{
  display:inline-block;
  padding-bottom:30px;
}
.userinfo .mock-up{
  margin:5px 0;
  text-align:left;
  white-space:nowrap;
  display:inline-block;

}
.missing{
  font-size:30px;
}
.eventinfo{
}
.tooltip.btn-missing .tooltip-inner{
  padding:10px;
  border-radius:0px;
  background:rgba(0,0,0,0.9);
  font-family: 'Montserrat', sans-serif;
}
.eventinfo .mock-up{
  margin:10px 0;
  text-align:right;
}
span.explore-event{
  background:orange;
  padding:5px 20px;
  box-shadow:2px 2px #ccc;
  color:white;
  border-radius:2px;
  /*max-width:300px;*/
  vertical-align: bottom;
  min-height:50px;
}
span.seperator{
  margin-bottom:10px;
  display:block;
}
.eventinfo .arrow-left{
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left:12px solid orange;
  border-right:0px;
}
.arrow-top{
  width: 0;
  height: 0;
  border-bottom: 12px solid #444;
  border-top: 0px solid transparent;
  border-left:12px solid transparent;
  border-right:12px solid transparent;
  margin-left:30px;
}
.top-notice{
  text-align:center;
  width:300px;
  margin:0px auto 10px auto;
  vertical-align:bottom;
  white-space:normal;
}
.top-notice *{
  display:block;
}
span.empty{
  background:#444;
  padding:30px;
  box-shadow:2px 2px #ccc;
  color:white;
  border-radius:2px;
  /*max-width:300px;*/
  font-size:20px;
  vertical-align: bottom;
}
span.empty i{
  font-size:40px;
}
span.explore-event a, span.explore-stage a{
  color:white;
}
span.explore-event a:hover, span.explore-stage a:hover{
  text-decoration: none;
  opacity: 0.7;
}
.explore-wrapper{
  margin:0 auto;
  /*width:80vw;*/
}
.content{
  /*background:#ccc;*/
  padding:20px;
  border-left:1px solid #ccc;
}
.exp-info{
  /*background:orange; */
  padding:40px 20px 20px 20px;
}
.no-padding{
  padding:0px;
  margin: 0 auto;
}
.img-box{
  vertical-align: middle;
  padding-top:40px;
}
.exp-info h3{
  font-weight:700;
  padding-bottom:10px;
  border-bottom:1px solid #ccc;
  color: #444;
}
.exp-info a.name-link{
  color: #444;
}
.exp-info a.name-link:hover{
  text-decoration: none;
  color:#ccc !important;
}
.exp-info p{
  font-size:16px;
  padding:2px 5px;
  color:#ccc;
  /*border-top:1px solid #ccc;*/
}
.exp-info i{
  margin: 0px 5px;
}
h3.explorer-header{
  letter-spacing: 5px;
  font-weight:700;
  text-shadow:2px 2px yellow;
  margin-bottom:20px;
}
h3.mini{
  font-size:15px;
}
.stage_info .mock-up{
  margin:10px 0;
  text-align:left;
  color:white;
}
.stage_info a{
  /*color:white;*/
}
span.explore-stage{
  background:#35A64B;
  padding:5px 20px;
  box-shadow:2px 2px #ccc;
  color:white;
  border-radius:2px;
  /*max-width:300px;*/
  vertical-align: bottom;
  min-height:50px;
}
span.seperator{
  margin-bottom:10px;
  display:block;
}
.stage_info .arrow-left{
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right:12px solid #35A64B;
  border-left:0px;
}
.statsinfo{
  text-align:center;
  background:white;
  display:flex;
  padding-top:10px;
}
.stat-stack{
  width:100%;
  font-size:10px;
  color:#ccc;
  display:block;
  border-top:1px solid #ccc ;
}
.stat-fig{
  color:#444;
  display:block;
  border-bottom:1px solid #ccc;
  cursor:pointer;
}
.desp{
  opacity:0.7;
}
.float-container{
  overflow:hidden;
  background:white;
  border-bottom: 1px solid #ccc;
  padding-bottom:10px;
}
.result-list {
  text-align:left;
}
.result-list *{
  margin: 0;
  text-align:left;
  display:inline-block;
}
.stat-hover:hover{
  opacity:0.5;
}
.rec-box{
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow: 2px 2px #ccc;
  padding:20px;
  margin:10px;
}
.rec-box a{
  color:#444;
  letter-spacing: 2px;
}
.rec-box a:hover{
  color:#ccc;
  text-decoration: none
}
.rec-box a.btn-go{
  background:orange;
  color:white;
  text-shadow:none;
  font-size:14px;
}
.recommend-wrapper{
  margin:0 auto;
}
.rec-box h3{
  margin-top:0px;
  font-size:17px;
}
.fetch_type{
  position:absolute;
  top:-10px;
  right:-20px;
  z-index:10;
  font-size:11px;
  padding:4px 4px 4px 8px;
  border-radius:2px;
  color:white;
  background:#37B7C7;
}
.me-too{
  background:#63C54A;
}
.fav{
  background:#FF9E35;
}
.rec-stack{
  padding:0;
  margin-left:0px;
}
.float-img{
  position:absolute;
  top:5px;
  right:5px;
  border:5px solid white;
}
.float-img:hover{
  opacity:0.5;
}
.guide-box{
  background:#DD524A;
  padding:10px;
  color:white;
  font-size:20px;
  box-shadow: 2px 2px #ccc;
}
.guide-box a{
  color:#fff;
  text-decoration: none
}
.guide-box:hover{
  opacity:0.7;
}
.about-info{
  margin:0 auto;
  width:40%;
}
.about-header{
  padding:20px;
}
.about-info blockquote, blockquote a{
  color:#ccc;
}
blockquote a:hover{
  color:#444;
  text-decoration: none;
}
.about-info h3 {
  margin-top:0px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 140%;
  padding:0px 70px;
}
.quote-wrapper{
  padding-top:30px;
  overflow:auto;
  text-align:left;
}
.info-mock-left{
  text-align:left;
  padding-bottom:10px;
}
.info-mock-right{
  text-align:right;
  padding-bottom:10px;
}
.quote-wrapper .arrow-left{
  width: 0;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #DD524A;
}
.about-info h1{
  font-size:100px;
  background:#FFEA31;
  padding:10px;

}
span.quote-info{
  background:#DD524A;
  padding:15px 20px;
  box-shadow:2px 2px #ccc;
  color:white;
  border-radius:2px;
  font-size:18px;
  max-width:45%;
}
span.info-right{
  background:#47C7B6;
}
.arrow-right{
  width: 0;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left:10px solid #47C7B6;
  border-right:0px solid transparent;
}
.quote-conl p{
  padding-bottom:20px;
}
.quote-conl{
  background:#FFCC11;
  font-size:20px;
  /*color:white;*/
  font-weight:700;
  padding:20px 100px;
  box-shadow:2px 2px #ccc;
}
.btn-browse{
  background:#fff;
  color:#444;
  padding:10px 20px;
  margin-bottom:10px;
}
.btn-browse:hover{
  background:transparent;
  color:white;
  text-decoration: none;
}