<div class="container">
  <div class="about-wrapper col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-offset-6">
    <div class="about-info">
      <h1 class="text-center">HELLO!</h1>
      <!-- <h2 class="text-center">ABOUT</h2> -->
      <hr/>
      <div class="about-header col-sm-12">
        <h3>
          <b>SONDERS</b> is a platform to get inspired by others' life stories whilst inspiring the others with your very own life journey.
        </h3>
      <hr/>
      <blockquote>n. the realization that each random passerby is living a life as vivid and complex as your own—populated with their own ambitions, friends, routines, worries and inherited craziness—an epic story that continues invisibly around you like an anthill sprawling deep underground, with elaborate passageways to thousands of other lives that you’ll never know existed, in which you might appear only once, as an extra sipping coffee in the background, as a blur of traffic passing on the highway, as a lighted window at dusk. <br/><span class="pull-right">- <a href="http://www.dictionaryofobscuresorrows.com/post/23536922667/sonder" target="_blank"> The Dictionary of Obscure Sorrows</a></span></blockquote>
      <div class="quote-wrapper">
        <div class="mock-up info-mock-left col-sm-12">
          <div class="arrow-left col-xs-1 col-sm-1"></div><span class="quote-info text-left col-xs-10 col-sm-6">Someone who went through the same low point as you did. What was the way out for them?</span>
        </div>
        <div class="mock-up info-mock-right col-sm-12 ">
          <span class="quote-info text-right info-right col-xs-10 col-sm-offset-4 col-sm-6 col-md-offset-5 col-md-6 col-lg-offset-5 col-lg-6">Thousands of people graduated with the same major as you did. Are they doing something as you would have expected?</span><div class="arrow-right col-xs-2 col-sm-2 col-md-2 col-lg-1"></div>
        </div>
        <div class="mock-up info-mock-left col-sm-12">
          <div class="arrow-left col-xs-1 col-sm-offset-0 col-sm-1"></div><span class="quote-info text-left col-xs-10 col-sm-6">Someone who has a very similar life experience as you did, but 20 years back in time.</span>
        </div>
        <div class="mock-up info-mock-right col-sm-12">
          <span class="quote-info text-right info-right col-xs-10 col-sm-offset-5 col-sm-6">Most importantly, you would get to know yourself better.</span><div class="arrow-right col-xs-1 col-sm-1"></div>
        </div>
      </div>
      <div class="quote-conl text-center col-sm-offset-1 col-sm-10">
        <p>Strangers come across your life at some points. You could have gone to the same school, did a similar job, had some similar hobbies. <br/><br/>SONDERS explores the journey that you will never know until you find out</p>
        <div ng-controller="UserStateController">
          <a class="btn-browse" ui-sref="browse" ng-if="!token">GET INSPIRED NOW!</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>