<div class="container ">
  <div class="container about-wrapper col-sm-12">
    <h2 class="text-center">ABOUT</h2>
    <div class="about-header col-sm-4">
    SONDERS is a platform where you get inspired by others' life stories, and also inspire others with your very own life journey
    Someone who went through the same low point as you did.
    What was the way out for them?

    Thousands of people graduated with the same major as you did.
    Are they doing something as you would have expected?

    Someone who has a very similar life experience as you did,
    but 20 years back in time.

    Strangers come across your life at some points. You could have gone to the same school, did a similar job, had some similar hobbies.
    </div>
  </div>
</div>